body {
    background: url("/image/Background/BG_Edukasi.png");
}

/* Nav */
.box_header {
    position: absolute;
    width: 585px;
    height: 372px;
    left: -73px;
    top: -204px;
    background: linear-gradient(92.15deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    backdrop-filter: blur(30px); /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
}

.header_ruang_bersama {
    position: absolute;
    left: 48px;
    top: 60px;
    z-index: 100;
}

.konsultasi {
    position: absolute;
    width: 161px;
    height: 45px;
    left: 769px;
    top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px; /* identical to box height */
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.konsultasi:hover {
    color: #80CAE9;
}

.edukasi {
    position: absolute;
    width: 119px;
    height: 45px;
    left: 1039px;
    top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px; /* identical to box height */
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.edukasi:hover {
    color: #80CAE9;
}

.eksplorasi {
    position: absolute;
    width: 155px;
    height: 45px;
    left: 1267px;
    top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px; /* identical to box height */
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.eksplorasi:hover {
    color: #80CAE9;
}

.saling_bantu {
    position: absolute;
    width: 194px;
    height: 45px;
    left: 1507px;
    top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px; /* identical to box height */
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.saling_bantu:hover {
    color: #80CAE9;
}

.profile_picture {
    position: absolute;
    width: 108px;
    height: 108px;
    left: 1749px;
    top: 15px;
    z-index: 100;
}

/* Opening */
.judul-opening {
    position: absolute;
    width: 733px;
    height: 226px;
    left: 154px;
    top: 320px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 112px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.teks-opening {
    position: absolute;
    width: 1090px;
    height: 54px;
    left: 154px;
    top: 556px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    
    color: #FFFFFF;
}

.foto-opening {
    position: absolute;
    width: 687px;
    height: 498px;
    left: 1128px;
    top: 267px;
    
    background: url(.jpg), #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


/* Video */
.judul-video {
    position: absolute;
    width: 481px;
    height: 57px;
    left: 154px;
    top: 926px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    
    color: #FFFFFF;
}

.box-video {
    position: absolute;
    width: 721px;
    height: 419px;
    left: 599px;
    top: 1125px;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 26.93%, rgba(255, 255, 255, 0.06) 126.93%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 20px;
}

.video-video {
    position: absolute;
    width: 657px;
    height: 366px;
    left: 631px;
    top: 1152px;
}

.tombol-video {
    position: absolute;
    width: 372px;
    height: 72px;
    left: 774px;
    top: 1610px;
    
    background: #8BCAE8;
    border-radius: 40px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.tombol-video:hover {
    color: black;
    box-shadow: 0 0 10px white;
}

/* Bacaan */
.judul-bacaan {
    position: absolute;
    width: 827px;
    height: 72px;
    left: 201px;
    top: 1802px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.bacaan1{
    position: absolute;
    width: 506px;
    height: 562px;
    left: 135px;
    top: 1924px;
    margin-top: 20px; 
}

.bacaan1:hover {
    opacity: 0.5;
}

.bacaan2 {
    position: absolute;
    width: 506px;
    height: 562px;
    left: 711px;
    top: 1924px;   
    margin-top: 20px;  
}

.bacaan2:hover {
    opacity: 0.5;
}

.bacaan3 {
    position: absolute;
    width: 506px;
    height: 562px;
    left: 1287px;
    top: 1924px;
    margin-top: 20px; 
}

.bacaan3:hover {
    opacity: 0.5;
}

.tombol-bacaan {
    position: absolute;
    width: 372px;
    height: 72px;
    left: 774px;
    top: 2600px;
    margin-top: 20px;
    
    background: #8BCAE8;
    border-radius: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.tombol-bacaan:hover{
    color: black;
    box-shadow: 0 0 10px white;
}

/* Footer */
.box_footer {
    position: absolute;
    width: 1920px;
    height: 333px;
    left: 0px;
    top: 2887px;
    
    background: linear-gradient(92.15deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 40px;
}

.footer_ruang_bersama {
    position: absolute;
    width: 666px;
    height: 75px;
    left: 73px;
    top: 3038px;    
}

.hubungi_kami {
    position: absolute;
    width: 218px;
    height: 45px;
    left: 960px;
    top: 2938px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    z-index: 100;
}

.email {
    position: absolute;
    width: 445px;
    height: 28px;
    left: 960px;
    top: 3012px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    
    color: #FFFFFF;
    z-index: 100;
}

.no_telp {
    position: absolute;
    width: 176px;
    height: 28px;
    left: 960px;
    top: 3074px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
    z-index: 100;
}

.alamat {
    position: absolute;
    width: 462px;
    height: 22px;
    left: 960px;
    top: 3141px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
    z-index: 100;
}

.sosmed {
    position: absolute;
    width: 193px;
    height: 45px;
    left: 1489px;
    top: 2961px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    z-index: 100;
}

.instagram {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1489px;
    top: 3045px;
    z-index: 100;
}

.twitter {
    position: absolute;
    width: 59px;
    height: 59px;
    left: 1601px;
    top: 3044px;
    
    z-index: 100;
}

.facebook {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 1712px;
    top: 3045px;
    z-index: 100;
}