/* Section 1 */

.ruang_bersama {
    position: absolute;
    width: 772px;
    height: 144px;
    left: 131px;
    top: 312px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 144px;/* identical to box height */
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.desc_1 {
    position: absolute;
    width: 750px;
    height: 210px;
    left: 131px;
    top: 483px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: justify;
    color: #FFFFFF;
}

.gambar_kanan {
    position: absolute;
    width: 827px;
    height: 563px;
    left: 1002px;
    top: 188px;
    background: url(mimi-thian-vdXMSiX-n6M-unsplash-removebg-preview.png);
}

.box_kanan {
    position: absolute;
    width: 831px;
    height: 516px;
    left: 1002px;
    top: 235px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px); /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}

/* Section 2 */

.box_kiri {
    position: absolute;
    width: 364px;
    height: 411px;
    left: 189px;
    top: 963px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px); /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}

.gambar_kiri {
    position: absolute;
    width: 316px;
    height: 373px;
    left: 213px;
    top: 1001px;
    background: url(AlbusDumbledore-003-removebg-preview.png);
}

.desc_2 {
    position: absolute;
    width: 1041px;
    height: 187px;
    left: 759px;
    top: 1051px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

/* Section 3 */

.judul_1 {
    position: absolute;
    width: 893px;
    height: 38px;
    left: 536px;
    top: 1622px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.kotak_1_1 {
    position: absolute;
    width: 364px;
    height: 498px;
    left: 84px;
    top: 1777px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px); /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}

.gambar_1_1 {
    position: absolute;
    width: 224px;
    height: 224px;
    left: 152px;
    top: 1837px;
}

.subjudul_1_1 {
    position: absolute;
    width: 193px;
    height: 54px;
    left: 172px;
    top: 2079px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px; /* identical to box height */
    color: #FFFFFF;
}

.sub_desc_1_1 {
    position: absolute;
    width: 335px;
    height: 76px;
    left: 93px;
    top: 2156px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.kotak_1_2 {
    position: absolute;
    width: 364px;
    height: 498px;
    left: 539px;
    top: 1777px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px); /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}

.gambar_1_2 {
    position: absolute;
    width: 253px;
    height: 250px;
    left: 597px;
    top: 1821px;
}

.subjudul_1_2 {
    position: absolute;
    width: 143px;
    height: 54px;
    left: 650px;
    top: 2079px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px; /* identical to box height */
    color: #FFFFFF;
}

.sub_desc_1_2 {
    position: absolute;
    width: 335px;
    height: 76px;
    left: 553px;
    top: 2156px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.kotak_1_3 {
    position: absolute;
    width: 364px;
    height: 498px;
    left: 1011px;
    top: 1777px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px); /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}

.gambar_1_3 {
    position: absolute;
    width: 229px;
    height: 229px;
    left: 1075px;
    top: 1835px;
}

.subjudul_1_3 {
    position: absolute;
    width: 186px;
    height: 54px;
    left: 1100px;
    top: 2079px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px; /* identical to box height */
    color: #FFFFFF;
}

.sub_desc_1_3 {
    position: absolute;
    width: 335px;
    height: 76px;
    left: 1022px;
    top: 2152px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.kotak_1_4 {
    position: absolute;
    width: 364px;
    height: 506px;
    left: 1473px;
    top: 1769px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px); /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}

.gambar_1_4 {
    position: absolute;
    width: 234px;
    height: 234px;
    left: 1539px;
    top: 1830px;
}

.subjudul_1_4 {
    position: absolute;
    width: 233px;
    height: 54px;
    left: 1541px;
    top: 2079px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px; /* identical to box height */
    color: #FFFFFF;
}

.sub_desc_1_4 {
    position: absolute;
    width: 335px;
    height: 76px;
    left: 1489px;
    top: 2148px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

/* section 4 */

.judul_2 {
    position: absolute;
    width: 1127px;
    height: 38px;
    left: 391px;
    top: 2436px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.kotak_2_1{
    position: absolute;
    width: 304px;
    height: 434px;
    left: 241px;
    top: 2602px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    border-radius: 20px;
}

.gambar_2_1 {
    position: absolute;
    width: 252px;
    height: 191px;
    left: 267px;
    top: 2628px;
    background: #FFFFFF;
    border-radius: 30px;
}

.subjudul_2_1 {
    position: absolute;
    width: 155px;
    height: 28px;
    left: 267px;
    top: 2851px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.sub_desc_2_1 {
    position: absolute;
    width: 252px;
    height: 96px;
    left: 267px;
    top: 2891px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.kotak_2_2{
    position: absolute;
    width: 304px;
    height: 434px;
    left: 630px;
    top: 2602px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    border-radius: 20px;
}

.gambar_2_2 {
    position: absolute;
    width: 252px;
    height: 191px;
    left: 656px;
    top: 2628px;
    background: #FFFFFF;
    border-radius: 30px;
}

.subjudul_2_2 {
    position: absolute;
    width: 150px;
    height: 28px;
    left: 660px;
    top: 2851px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.sub_desc_2_2 {
    position: absolute;
    width: 248px;
    height: 80px;
    left: 660px;
    top: 2891px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.kotak_2_3 {
    position: absolute;
    width: 304px;
    height: 434px;
    left: 1011px;
    top: 2602px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    border-radius: 20px;
}

.gambar_2_3 {
    position: absolute;
    width: 252px;
    height: 191px;
    left: 1042px;
    top: 2628px;
    background: #FFFFFF;
    border-radius: 30px;
}

.subjudul_2_3 {
    position: absolute;
    width: 164px;
    height: 28px;
    left: 1042px;
    top: 2851px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.sub_desc_2_3 {
    position: absolute;
    width: 241px;
    height: 80px;
    left: 1042px;
    top: 2888px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    
}

.kotak_2_4 {
    position: absolute;
    width: 304px;
    height: 434px;
    left: 1385px;
    top: 2602px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    border-radius: 20px;
}

.gambar_2_4 {
    position: absolute;
    width: 252px;
    height: 191px;
    left: 1411px;
    top: 2628px;
    background: #FFFFFF;
    border-radius: 30px;
}

.subjudul_2_4 {
    position: absolute;
    width: 156px;
    height: 28px;
    left: 1411px;
    top: 2851px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.sub_desc_2_4 {
    position: absolute;
    width: 254px;
    height: 80px;
    left: 1406px;
    top: 2891px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}