body {
    background-image: url("/image/Background/BG_Profile.png");
}
/* Opening */
.judul-opening {
    position: absolute;
    width: 300px;
    height: 192px;
    left: 1027px;
    top: 231px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
    
    color: #FFFFFF;
    
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.teks-opening {
    position: absolute;
    width: 1090px;
    height: 54px;
    left: 154px;
    top: 556px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    
    color: #FFFFFF;
}

.foto-opening {
    position: absolute;
    width: 341px;
    height: 341px;
    left: 571px;
    top: 215px;
}

.button {
    position: absolute;
    width: 321px;
    height: 64px;
    left: 1027px;
    top: 478px;
    
    background: #8BCAE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.button:hover {
    position: absolute;
    width: 321px;
    height: 64px;
    left: 1027px;
    top: 478px;
    
    background: #3d92b9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.button-text {
    position: absolute;
    width: 279px;
    height: 36px;
    left: 1049px;
    top: 492px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: #FFFFFF;
}

.textbox_jadwal {
    position: absolute;
    width: 345px;
    height: 259px;
    left: 179px;
    top: 794px;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 26.93%, rgba(255, 255, 255, 0.06) 126.93%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 20px;
}

.juduljadwal {
    position: absolute;
    width: 455px;
    height: 72px;
    left: 148px;
    top: 650px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
}

.iconjadwal_img {
    position: absolute;
    width: 30px;
    height: 121px;
    left: 207px;
    top: 896px;
    
}

.namajadwal{
    position: absolute;
    width: 236px;
    height: 56px;
    left: 207px;
    top: 800px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.datejadwal {
    position: absolute;
    width: 150px;
    height: 21px;
    left: 253px;
    top: 890px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;
}

.jamjadwal{
    position: absolute;
    width: 150px;
    height: 21px;
    left: 253px;
    top: 930px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;
}

.linkjadwal{
    position: absolute;
    width: 220px;
    height: 21px;
    left: 253px;
    top: 980px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;

}

.textbox_support {
    position: absolute;
    width: 826px;
    height: 114px;
    left: 915px;
    top: 797px;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 26.93%, rgba(255, 255, 255, 0.06) 126.93%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 20px;
}

.judulsupport {
    position: absolute;
    width: 8406px;
    height: 72px;
    left: 915px;
    top: 650px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
}

.text_support {
    position: absolute;
    width: 753px;
    height: 28px;
    left: 943px;
    top: 800px;
    
    font-family: Roboto;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
}

.textbox_teman {
    position: absolute;
    width: 262px;
    height: 331px;
    left: 179px;
    top: 1217px;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 26.93%, rgba(255, 255, 255, 0.06) 126.93%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 20px;
}

.judulteman {
    position: absolute;
    width: 350px;
    height: 72px;
    left: 148px;
    top: 1090px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
}

.teman_profil_img {
    position: absolute;
    width: 219px;
    height: 173px;
    left: 201px;
    top: 1239px;
    border-radius: 20px;
}

.iconteman_img{
    position: absolute;
    width: 61px;
    height: 21.88px;
    left: 198px;
    top: 1515px;
}

.namateman{
    position: absolute;
    width: 49px;
    height: 21px;
    left: 202px;
    top: 1424px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.bioteman{
    position: absolute;
    width: 190px;
    height: 21px;
    left: 201px;
    top: 1450px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;
}

