body {
    background-image: url("../image/Background/BG_Saling_Bantu.png");
    background-repeat: no-repeat;
}

/* Opening */
.judul-opening {
    position: absolute;
    width: 1242px;
    height: 113px;
    left: 376px;
    top: 275px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 112px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
    
}

.judul-under{
    
position: absolute;
width: 498px;
height: 54px;
left: 168px;
top: 631px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
/* identical to box height */


color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.teks-opening {
    position: absolute;
    width: 1090px;
    height: 54px;
    left: 154px;
    top: 556px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    
    color: #FFFFFF;
}




.textbox_teman1 {
    position: absolute;
    width: 408px;
    height: 513px;
    left: 310px;
    top: 764px;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 26.93%, rgba(255, 255, 255, 0.06) 126.93%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 20px;
}


.teman1_profil_img {
    position: absolute;
    width: 362px;
    height: 314px;
    left: 332px;
    top: 786px;
    
    background: url(.jpg), #C4C4C4;
    border-radius: 20px;
}

.iconteman1_img{
    position: absolute;
    width: 85px;
    height: 35px;
    left: 333px;
    top: 1221px;
}

.namateman1{
    position: absolute;
    width: 81px;
    height: 35px;
    left: 332px;
    top: 1100px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    
    color: #FFFFFF;
}

.bioteman1{
    position: absolute;
    width: 250px;
    height: 28px;
    left: 331px;
    top: 1150px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
    
}

.textbox_teman2 {
    position: absolute;
    width: 408px;
    height: 513px;
    left: 794px;
    top: 764px;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 26.93%, rgba(255, 255, 255, 0.06) 126.93%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 20px;
}


.teman2_profil_img {
    position: absolute;
    width: 362px;
    height: 314px;
    left: 815px;
    top: 786px;
    
    background: url(.jpg), #C4C4C4;
    border-radius: 20px;
}

.iconteman2_img{
    position: absolute;
    width: 85px;
    height: 35px;
    left: 815px;
    top: 1221px;
    
}

.namateman2{
    position: absolute;
    width: 88px;
    height: 35px;
    left: 815px;
    top: 1100px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    
    color: #FFFFFF;
}

.bioteman2{
    position: absolute;
    width: 250px;
    height: 28px;
    left: 814px;
    top: 1150px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
}

.textbox_teman3 {
    position: absolute;
    width: 408px;
    height: 513px;
    left: 1276px;
    top: 764px;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 26.93%, rgba(255, 255, 255, 0.06) 126.93%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 20px;
}


.teman3_profil_img {
    position: absolute;
    width: 362px;
    height: 314px;
    left: 1298px;
    top: 786px;
    
    background: url(.jpg), #C4C4C4;
    border-radius: 20px;
}

.iconteman3_img{
    position: absolute;
    width: 85px;
    height: 35px;
    left: 1301px;
    top: 1222px;
}

.namateman3{

    position: absolute;
    width: 200px;
    height: 35px;
    left: 1298px;
    top: 1100px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    
    color: #FFFFFF;
}

.bioteman3{

    position: absolute;
    width: 300px;
    height: 28px;
    left: 1297px;
    top: 1150px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
    
}

.button-more {
    position: absolute;
    width: 303px;
    height: 50px;
    left: 835px;
    top: 1364px;
    
    background: #8BCAE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.button-more:hover {
    position: absolute;
    width: 303px;
    height: 50px;
    left: 835px;
    top: 1364px;
    
    background: #3d92b9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.button-more-text {
    position: absolute;
    width: 217px;
    height: 36px;
    left: 878px;
    top: 1371px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: #FFFFFF;
}

.judulks{
    position: absolute;
    width: 1680px;
    height: 125px;
    left: 120px;
    top: 1450px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 112px;
    text-align: center;
    
    color: #FFFFFF;
}

.textbox_ks{
    position: absolute;
    width: 690px;
    height: 570px;
    left: 222px;
    top: 1676px;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.42) 26.93%, rgba(255, 255, 255, 0.06) 126.93%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 20px;
}

.ks_img{
    position: absolute;
    width: 593px;
    height: 545px;
    left: 1114px;
    top: 1676px;
    
    background: url(.jpg), #C4C4C4;
    border-radius: 30px;
}

.dari_txt{
    position: absolute;
    width: 44px;
    height: 28px;
    left: 259px;
    top: 1727px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;   
}

.dari_inputbox{
    position: absolute;
    width: 487px;
    height: 64px;
    left: 391px;
    top: 1709px;
    
    background: #F0F0F0;
    border-radius: 30px;
}

.untuk_txt{
    position: absolute;
    width: 64px;
    height: 28px;
    left: 259px;
    top: 1827px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
}

.untuk_inputbox{
    position: absolute;
    width: 487px;
    height: 64px;
    left: 391px;
    top: 1809px;
    
    background: #F0F0F0;
    border-radius: 30px;
}

.pesan_txt{
    position: absolute;
    width: 67px;
    height: 28px;
    left: 259px;
    top: 1927px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
    
}

.pesan_inputbox{
    position: absolute;
    width: 487px;
    height: 187px;
    left: 391px;
    top: 1909px;
    
    background: #F0F0F0;
    border-radius: 30px;
}

.button-support{
    position: absolute;
    width: 221px;
    height: 80px;
    left: 390px;
    top: 2130px;
    
    background: #8BCAE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.button-support:hover{
    position: absolute;
    width: 221px;
    height: 80px;
    left: 390px;
    top: 2130px;
    
    background: #3d92b9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.button-support-text {
    position: absolute;
    width: 168px;
    height: 40px;
    left: 417px;
    top: 2150px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: #FFFFFF;
}

